<div class="header">
    <div class ="header_content">
        <div class="header_logo">
            <img src="assets/2024236.png">
            <span>Geo Currency</span>
        </div>
        <div class="navigation_content">
            <div class="Banks">
                <span class="btn">ვალუტა</span>
            </div>
            <div class="Banks">
                <span class="btn">ბანკები</span>
            </div>
            <div class="Banks">
                <span class="btn">კალკულატორი</span>
            </div>
            <div class="Banks">
                <span class="btn">კრიპტო</span>
            </div>
            <div class="header_buttons" >
                <!-- <div class="lang_eng">
                    <img src="assets/england.png">
                </div> -->
                <div class="lang_geo">
                    <img src="assets/georgia.png">
                </div>
            </div>
        </div>
    </div>
</div>
