<div class="bestvalues">

    <h2>საუკეთესო შეთავაზებები</h2>


    <div class="content_wrapper">


        <table class="currency-table">
            <thead>
                <tr>
                    <th>ვალუტა</th>
                    <th>ოფიციალური კურსი</th>
                    <th>შეცვლა (24სთ)</th>
                    <th>საუკეთესო ყიდვა</th>
                    <th>საუკეთესო გაყიდვა</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let currency of currencyData">
                    <td>{{ currency?.code }}</td>
                    <td>{{ currency?.exchangeRate }}</td>
                    <td [ngClass]="{ 'change-positive': currency.change > 0, 'change-negative': currency?.change < 0 }">
                        {{ currency?.change }}%</td>
                    <!-- <td>{{ currency.buyPrice.value }} ({{ currency.buyPrice.bankName }})</td> -->
                    <td> <img src="assets/lari-sign.png"> {{ currency.buyPrice.value }} <span class="bank-name">({{ currency?.buyPrice.bankName
                    }})</span></td>
                    <td> <img src="assets/lari-sign.png">{{ currency.sellPrice.value }} <span class="bank-name">({{ currency?.sellPrice.bankName
                            }})</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



